#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.px1 {
    padding: 0 1rem;
}

.input-field {
    margin: 3rem 2rem;
}

.m2 {
    margin: 2rem;
}

.result {
    padding: 0 2rem;
    margin: 1rem;
}

.inputBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.inputBlock > * {
    width: 50%;
}

.appearance {
    box-sizing: border-box;
    cursor: default;
    word-wrap: break-word;
    position: relative;
    z-index: 1;
}

.appearance > span {
    cursor: pointer;
    align-self: center;
}

.dropContainer {
    position: relative;
    width: 100%;
    min-height: 500px;
    flex-grow: 1;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-footer {
    position: relative;
    height: 60px;
    box-shadow: 1px 1px 10px rgba(68, 68, 68, 0.5),
    inset -1px -1px 5px rgba(68, 68, 68, 0.5),
    -1px -1px 5px rgba(255, 255, 255, 0.5);
    margin-top: auto;
    z-index: 2000;
}

.drop {
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: calc(var(--i) * 9vw + (.5 - var(--m)) * 10vw);
    transform: translate(-50%, -50%);
    background: #0277bd;
    border: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 1px #444,
    inset 0 0 1px rgba(255, 255, 255, .5);
    height: 40px;
    width: 40px;
    filter: blur(4px);
}

.dropNav {
    animation: dropNav calc(var(--m) * 5s + 2s) ease-out infinite;
    animation-delay: calc(var(--s) * 5s);
}

.link {
    position: relative;
    filter: url(#goo);
}

.link > a {
    position: relative;
    z-index: 100;
    background: #7b1fa2;
    padding: 0 30px;
}

.link > a:hover {
    background: #741d97 !important;
}

.link:before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #7b1fa2;
    transition: .2s;
    z-index: 1;
}

.link:hover:before {
    background: #741d97;
}

.choose:before {
    top: 100%;
}

.gooeyNav {
    filter: blur(5px);
    box-shadow: inset -1px -1px 5px rgba(68, 68, 68, 0.5),
    -1px -1px 5px rgba(255, 255, 255, 0.5),
    inset 1px 1px 5px rgba(255, 255, 255, .5);
}

.nav-wrapper {
    z-index: 2;
}

.filterSvg {
    width: 0;
    height: 0;
}

.navigateTop {
    z-index: 2000;
}

.aside-enter {
    left: -10vw;
    opacity: 0;
    transform: translateX(-100%);
}

.aside-enter-active {
    opacity: 1;
    left: 10px;
    transform: translateX(0);
    transition: .5s ease-out;
}

.aside-exit-active {
    left: -10vw;
    transition: .2s ease-out;
    transform: translateX(0);
}

.aside-exit {
    transform: translateX(-100%);
    opacity: 0;
    transition: .2s ease-out;
}

.note-exit {
    animation: note .41s ease-in 1;
}

.note-enter {
    animation: note .8s ease-out 1 alternate-reverse;
}

.list-group-item {
    border-collapse: collapse;
    padding: 10px 20px;
    border: #edeff8 solid 1px;
    transform: translateY(calc(var(--i) * -1px));
}

.list-group {
    border-collapse: collapse;
}

.list-group > :first-child {
    border-radius: 5px 5px 0 0;
}

.list-group > :last-child {
    border-radius: 0 0 5px 5px;
}

@keyframes note {
    0% {
        transform: translateY(0);
        height: auto;
        z-index: 0;
    }
    100% {
        transform: translateY(100%);
        z-index: 1;
    }
}


@media (max-width: 1200px) {
    .aside-enter {
        left: -100px;
    }

    .aside-exit-active {
        left: -100px;
    }
}

@media (max-width: 400px) {
    .aside-enter-active {
        left: -100px;
    }
}
